body {
    background-color: rgba(49, 49, 49, 0.733);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(48, 48, 48);
    width: 400px;
    height: 600px;
    min-width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    border-radius: 23px;
    color: white;
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(253, 72, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


.container-display {
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-top: 50px;
    padding: 19px;
    border: 1px solid rgb(90, 89, 89);
    font-size: 18px;
}

.top-buttons {
    background-color: rgb(48, 48, 48);
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px 15px;
    font-size: 18px;
}

.clear {
    background-color: rgb(168, 12, 12);
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.clear:hover{
    background-color: rgb(231, 26, 26);
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px;
}

.number,
.dot,
.egal,
.operator{
    background-color: rgb(58, 57, 57);
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 0;
    border-radius: 13px;
    font-size: 24px;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
    color: white;
}

.egal {
    background-color: green;
}

.message {
    color: rgb(201, 201, 201);
    padding: 0;
    margin: 12px 0 0 0;
}

.number:hover,
.operator:hover,
.dot:hover{
    background-color: rgb(87, 85, 85);
}

.egal:hover {
    background-color: rgb(2, 175, 2);
}